@page "/customers"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@using BlazorApp.Data
@inject UserContext user_context


<PageTitle>Customer List</PageTitle>
@if (user_context.UserName.Equals("none"))
{
    NavigationManager.NavigateTo("/login");
}

else
{
    <div class="button-container">
        <h1>Customer List</h1>
    </div>

    <p></p>

    @if (customers == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table width="80%">
            <thead>
                <tr>
                    <th><input type="text" placeholder="ID" @bind-value="searchID" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                    <th><input type="text" placeholder="Name" @bind-value="searchName" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                    <th><input type="text" placeholder="Phone" @bind-value="searchPhone" @bind-value:event="oninput" @bind-value:after="ListCust"> </th>
                    <th><input type="text" placeholder="Email" @bind-value="searchEmail" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                    <th><input type="text" placeholder="Address" @bind-value="searchAddress" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                    <th>INVOICE HISTORY</th>
                    @if (user_context.IsAdmin) {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in customers)
                {
                    <tr>
                        <td>@customer.Id</td>
                        <td>@customer.name</td>
                        <td>@customer.phone</td>
                        <td>@customer.mail</td>
                        <td>@customer.address</td>
                        <td><button class="generate-invoice-button"><a href=@($"/invoice_hist/{customer.Id}")>History</a></button></td>
                        @if (user_context.IsAdmin)
                        {
                            <td><button class="generate-invoice-button" @onclick="() => DeleteCustomer(customer.Id)">Delete</button></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @if (user_context.IsAdmin)
        {
            <div class="button-container">
                <pre>
                    <h6></h6>
                    <button class="generate-invoice-button" @onclick='() => NavigateToRoute("/add-customer")'>Add Customer</button>
                </pre>
            </div>
        }
    }
}


