@page "/customer"
@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@attribute [StreamRendering]
@rendermode InteractiveServer

<style>
    h6 {
        background-color: #D6EEEE;
        margin: 0 auto; /* Adjust as needed */
    }
    table {
        margin: 0 auto;
        border: 1px solid black;
    }
    td {
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }
    th{
        padding: 10px;
        text-align: center;
        border: 1px solid black;
    }
    tr:nth-child(even) {
        background-color: #D6EEEE;
    }
    .button-container {
        display: flex;
        justify-content: center;
    }
    .generate-invoice-button {
        background-color: #D6EEEE; /* Green */
        border: none;
        color: rgb(0, 0, 0);
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .generate-invoice-button:hover {
        background-color: #45a049; /* Darker Green */
    }
</style>


<PageTitle>Customer List</PageTitle>

<div class="button-container">
    <h1>Customer List</h1>
</div>

<p></p>

@if (customers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table width="80%">
        <thead>
            <tr>
                <th><input type="text" placeholder="ID" @bind-value="searchID" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                <th><input type="text" placeholder="Name" @bind-value="searchName" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                <th><input type="text" placeholder="Phone" @bind-value="searchPhone" @bind-value:event="oninput" @bind-value:after="ListCust"> </th>
                <th><input type="text" placeholder="Email" @bind-value="searchEmail" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                <th><input type="text" placeholder="Address" @bind-value="searchAddress" @bind-value:event="oninput" @bind-value:after="ListCust"></th>
                <th>INVOICE HISTORY</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in customers)
            {
                <tr>
                    <td>@customer.Id</td>
                    <td>@customer.name</td>
                    <td>@customer.phone</td>
                    <td>@customer.mail</td>
                    <td>@customer.address</td>
                    <td><button class="generate-invoice-button"><a href=@($"/invoice_hist/{customer.Id}")>History</a></button></td>
                    <td><button class="generate-invoice-button" @onclick="() => DeleteCustomer(customer.Id)">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
    <div class="button-container">
        <pre>
        <h6></h6>
        <button class="generate-invoice-button" @onclick='() => NavigateToRoute("/add-customer")'>Add Customer</button>
        </pre>
    </div>
}

@code {
    private string? searchPhone, searchName, searchEmail, searchAddress;
    private ulong searchID = 0;
    private List<Cust>? customers;
    private void NavigateToRoute(string link)
    {
        NavigationManager.NavigateTo("/add-customer");
    }
    protected override async Task OnInitializedAsync()
    {
        await ListCust();
    }

    private async Task ListCust()
    {
        string ln, lp, le, la;
        if (string.IsNullOrEmpty(searchName))
            ln = "all";
        else
            ln = searchName;
        if (string.IsNullOrEmpty(searchPhone))
            lp = "all";
        else
            lp = searchPhone;
        if (string.IsNullOrEmpty(searchEmail))
            le = "all";
        else
            le = searchEmail;
        if (string.IsNullOrEmpty(searchAddress))
            la = "all";
        else
            la = searchAddress;
        customers = await httpClient.GetFromJsonAsync<List<Cust>>($"http://localhost:5038/list_cust/{searchID}/{ln}/{lp}/{le}/{la}");
    }

    private async Task DeleteCustomer(ulong id)
    {
        Console.WriteLine($"http://localhost:5038/del_cust/{id}");
        HttpResponseMessage response = await httpClient.DeleteAsync($"http://localhost:5038/del_cust/{id}");
        await ListCust();
    }

    public class Cust
    {
        public ulong Id { get; set; }
        public string? name { get; set; }
        public string? phone { get; set; }
        public string? mail { get; set; }
        public string? address { get; set; }
    }
}
